<div class="campaign-list">
  <h2>Campaigns Management</h2>
  <div class="align-right">
    <button mat-raised-button color="primary" (click)="openCampaignForm()">
      New Campaign
    </button>
  </div>

  <table mat-table [dataSource]="campaigns" class="mat-elevation-z8">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Campaign Type</th>
      <td mat-cell *matCellDef="let campaign">{{ campaign.type }}</td>
    </ng-container>

    <ng-container matColumnDef="dates">
      <th mat-header-cell *matHeaderCellDef>Start - End</th>
      <td mat-cell *matCellDef="let campaign">
        {{ campaign.startDate | date }} - {{ campaign.endDate | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="nextScheduledActivation">
      <th mat-header-cell *matHeaderCellDef>Next Scheduled Activation</th>
      <td mat-cell *matCellDef="let campaign">
        {{ getScheduleString(campaign.schedule) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let campaign">
        <button mat-button (click)="editCampaign(campaign)">Edit</button>
        <button mat-button (click)="deleteCampaign(campaign)">Delete</button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['type', 'dates', 'nextScheduledActivation', 'actions']"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: ['type', 'dates', 'nextScheduledActivation', 'actions']
      "
    ></tr>
  </table>
  <div *ngIf="campaigns.length === 0" class="align-center">
    <p>No campaigns data found</p>
  </div>

  <ng-template #dialogFormTemplate>
    <mat-dialog-content>
      <form [formGroup]="campaignForm">
        <mat-form-field appearance="outline">
          <mat-label>Campaign Type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="Cost per Order">Cost per Order</mat-option>
            <mat-option value="Cost per Click">Cost per Click</mat-option>
            <mat-option value="Buy One Get One">Buy One Get One</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="startPicker"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>End Date</mat-label>
          <input
            matInput
            [matDatepicker]="endPicker"
            formControlName="endDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

        <div formArrayName="schedule">
          <div
            *ngFor="let schedule of scheduleArray.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field>
              <mat-label>Day</mat-label>
              <mat-select formControlName="day">
                <mat-option *ngFor="let day of weekdays" [value]="day">{{
                  day
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="time" formControlName="startTime" />
            </mat-form-field>
            <mat-form-field>
              <input matInput type="time" formControlName="endTime" />
            </mat-form-field>
            <button mat-icon-button (click)="removeSchedule(i)">🗑</button>
          </div>
          <button mat-button (click)="addSchedule()">+ Add Schedule</button>
        </div>

        <button mat-raised-button color="primary" (click)="save()">Save</button>
      </form>
    </mat-dialog-content>
  </ng-template>

  <ng-template #dialogFormTemplateDelete>
    <h2 mat-dialog-title>Do You Want to Remove?</h2>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>No</button>
      <button mat-button mat-dialog-close cdkFocusInitial>Yes</button>
    </mat-dialog-actions>
  </ng-template>
</div>
